# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Overview popular languages that Data Scientists use
- Understand libraries used by Data Scientists
- Create headings, and use bold in Markdown
- Create tables in Markdown

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. scikit-learn

Three development environment open source tools used in data science are:

| Data Science Tools | 
| -------------|
| Jupyter Notebook |
| RStudio | 
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
m = 200
h = 200/60
print (m,h)

200 3.3333333333333335

## Author
Jennifer Selby